/*body*/
body {
    background-color: lightgreen;
    margin: 0;
}

.nav-list {
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    list-style: none;
}
.nav-list-item {
    display: inline-block;
}

a:link {
    color: gray;
}

a:visited {
    color: gray;
}

/*header*/
header {
    background-color: forestgreen;
    width: 100%;
    margin: 0 0;
    padding: 15px 0;
    color: white;
    text-align: center;
}

#headline{
    font-size: 32px;
}

#nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 65%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    list-style: none;
}

.nav-button {
    background-color: lightseagreen;
    border: none;
    border-radius: 1em;
    color: white;
    font-size: large;
}

/*content*/
.contentBox {
    background: white;
    width: 65%;
    margin: 0 auto;
    border: solid 3px lime;
    border-radius: 10px;
    color: cornflowerblue;
    font-weight: bold;
}

#feedList {
    margin: 0;
}

.feed {
    background: white;
    width:60%;
    margin: 10px auto;
    padding: 0.5em 1em;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
    border-top: solid 6px #9BF9CC;
    border-radius: 20px;
    color: #00BCD4;
}

/*footer*/
footer {
    background-color:#2E8B57;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 15px 0;
    color :white;
    text-align: center;
}
